
body{
    font-family: 'Dosis', sans-serif;
}

/* ///////////START HEADER///////////// */

.bg-blue {
    background-color: #223047!important;
    border-bottom: 1px solid #4e596c;
}
.nav-link{
    color: #fff !important;
    cursor: pointer;
}
.btn-trans{
    background-color: transparent;
    border: 0;
    color: #fff;
    padding:8px 20px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.dropdown-toggle::after{
    display:none !important;
}
.btn-skyblue{
    background-color: #00fff0;
    color: #233148;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #00fff0;
    border-radius: 6px;
}
.btn-skyblue:hover{
    background-color: transparent;
    color: #fff;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #fff;
    border-radius: 6px;
}
.btn-skyblue-outline{
    background-color: transparent;
    color: #fff;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #fff;
    border-radius: 6px;
}
.btn-skyblue-outline:hover{
    background-color: #00fff0;
    color: #233148;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #00fff0;
    border-radius: 6px;
}
/* ///////////END HEADER///////////// */

/* ///////////START HOME///////////// */
.home{
    background-color: #223047!important;
    float: left;
    width: 100%;
}
.home-appo{
    padding:100px 50px;
}
.home-appo h1{
    padding: 100px 0px 40px 0px;
    font-size: 40px;
    text-align: left;
    color: #fff;
}
.home-appo p{
    font-size: 14px;
    text-align: left;
    color: #fff;
    padding-bottom: 40px;
}

.mobile{
    text-align: center;
    padding: 100px 100px 0 0;
    position: relative;
}
.mobile img{
    margin-bottom: -100px;
}
/* ///////////END HOME///////////// */

/* ///////////START SERVICES///////////// */

.services{
    float: left;
    width: 100%;
    padding: 100px 0;
}
.services-heading{
    text-align: center;
}
.services-heading h2{
    font-size: 30px;
    color: #233148;
    padding: 50px 0;
}
.bb{
    border-top: 5px solid rgb(0, 255, 241);
    width: 100px;

}
.services-cat{
    background-color: #fff;
    padding:30px 20px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.services-cat .title{
    color: #233148;
    font-size: 17px;
}
.services-cat  .text{
    font-size: 14px;
    color: #97a4be;
    line-height: 2;
    margin: 0;
}

/* ///////////END SERVICES///////////// */

/* ///////////END smartphone///////////// */

.smartphone-section{
    float: left;
    width: 100%;
}
.smart-phone{
    float: left;
    width: 100%;
    background-color: #323a4d;
    height: 100%;
}
.smart-phone-text{
    background-color: #f5f6fa;
    padding:150px 200px 150px 130px;
}
.smart-phone-text h2{
    font-size: 30px;
    color: #000000;
    padding-bottom: 50px;
}
.smart-phone-text p{
    line-height: 2;
    color: #97a4be;
    font-size: 14px;
}

/* ///////////END smartphone///////////// */

/* ///////////START stable///////////// */


.stable{
    float: left;
    width: 100%;
    padding: 100px 0 50px 0;
}
.stable-text{
    padding: 50px 0;
}
.stable-text h2{
    font-size: 30px;
    color: #000000;
    text-align: right;
    padding-bottom: 50px;
}
.stable-text  p{
    line-height: 2;
    color: #97a4be;
    font-size: 14px;
    text-align: right;
    padding-bottom: 50px;
    padding-left: 300px;
}
.stable-img{
    padding-left: 100px;
}
/* ///////////END stable///////////// */

/* ///////////START FEATURES///////////// */

.features{
    float: left;
    width: 100%;
    padding: 50px 0 0 0;
}
.feature-img{

}

/* ///////////END FEATURES///////////// */


@media (max-width:1199px){
    .home-appo {
        padding: 60px 20px;
    }
}
@media (max-width: 991px){
    .mobile img{
        margin-bottom: -50px;
    }
    .home-appo {
        padding: 50px 20px;
    }
    .home-appo h1 {
        padding: 0px 0px 20px 0px;
        font-size: 27px;
    }
    .home-appo p {
        padding-bottom:10px;
    }
    .mobile {
        padding: 40px 20px 0 0;
    }
    .mobile img{
        width: 200px;
    }
    .services {
        padding: 20px 0;
    }
}
