
body{
    font-family: 'Dosis', sans-serif;
}

/* ///////////START HEADER///////////// */

.bg-blue {
    background-color: #223047!important;
    border-bottom: 1px solid #4e596c;
}
.nav-link{
    color: #fff !important;
    cursor: pointer;
}
.btn-trans{
    background-color: transparent;
    border: 0;
    color: #fff;
    padding:8px 20px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
.dropdown-toggle::after{
    display:none !important;
}
.btn-skyblue{
    background-color: #00fff0;
    color: #233148;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #00fff0;
    border-radius: 6px;
}
.btn-skyblue:hover{
    background-color: transparent;
    color: #fff;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #fff;
    border-radius: 6px;
}
.btn-skyblue-outline{
    background-color: transparent;
    color: #fff;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #fff;
    border-radius: 6px;
}
.btn-skyblue-outline:hover{
    background-color: #00fff0;
    color: #233148;
    padding-right: 2rem;
    padding-left: 2rem;
    border: 1px solid #00fff0;
    border-radius: 6px;
}
/* ///////////END HEADER///////////// */

/* ///////////START HOME///////////// */
.home{
    background-color: #223047!important;
    float: left;
    width: 100%;
}
.home-appo{
    padding:100px 50px;
}
.home-appo h1{
    padding: 100px 0px 40px 0px;
    font-size: 40px;
    text-align: left;
    color: #fff;
}
.home-appo p{
    font-size: 14px;
    text-align: left;
    color: #fff;
    padding-bottom: 40px;
}

.mobile{
    float: right;
    padding: 100px 100px 0 0;
    position: relative;
}
.mobile img{
    margin-bottom: -100px;
}
/* ///////////END HOME///////////// */

.services{
    float: left;
    width: 100%;
    padding: 100px 0;
}
.services-heading{
    text-align: center;
}
.services-heading h2{
    font-size: 30px;
    color: #233148;
    padding: 50px 0;
}
.bb{
    border-top: 5px solid rgb(0, 255, 241);
    width: 100px;

}









@media (max-width: 768px){
    .home-appo {
        padding: 50px 20px;
    }
    .home-appo h1 {
        padding: 0px 0px 20px 0px;
        font-size: 27px;
    }
    .home-appo p {
        padding-bottom:10px;
    }
    .mobile {
        padding: 40px 20px 0 0;
    }
    .mobile img{
        width: 200px;
    }
    .services {
        padding: 20px 0;
    }
}
